.game-info-score {
  margin: 20px;
}

.media-score {
  display: flex;
  height: 100px;
}

.media-score-single {
  border-radius: 8px;
  width: 115px;
  margin-right: 10px;
  cursor: pointer;
  background-color: #f5f5f5;
}

.media-score-single:hover {
  background-color: #e3e3e3;
}

.media-score .active {
  background-color: #e3e3e3;
}

.media-name {
  margin-top: 14px;
  font-size: 16px;
  text-align: center;
}

.media-score .score {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

.score span {
  font-size: 28px;
  font-weight: 700;
  color: #c82848;
}

.media-comment {
  height: 90px;
  font-size: 15px;
}

.game-info-score .ant-divider-horizontal {
  margin: 10px 0;
}

.no-score-desc {
  font-size: 19px;
  font-weight: normal;
  margin: 20px auto;
}

.no-score-desc .anticon-frown {
  margin-right: 8px;
}
