.game-info-detail {
  margin: 20px;
  font-size: 16px;
}

.game-info-detail .img-wrapper {
  cursor: pointer;
}

.game-img {
  width: 300px;
  height: 200px;
  margin: 5px 20px 5px 0;
}

.game-name {
  color: #c82848;
  font-weight: 500;
}

.game-name:hover {
  color: #c82848;
}

.detail-wrapper {
  display: flex;
}

.game-info-detail .game-detail {
  margin-left: 30px;
}

.game-detail .game-desc {
  font-size: 15px;
}

.game-info-detail .name,
.release-date,
.developer,
.publisher,
.game-tag {
  height: 35px;
  line-height: 35px;
}

.desc-title {
  display: inline-block;
  font-weight: 500;
  width: 90px;
}

.game-tag {
  display: flex;
}

.game-tag-container {
  width: 480px;
  white-space: nowrap;
  overflow-x: scroll;
}

.game-tag-container::-webkit-scrollbar {
  display: none;
}

.game-tag-single {
  border-radius: 10px;
}

.game-desc {
  width: 900px;
  height: 160px;
  overflow-y: scroll;
}

.game-desc::-webkit-scrollbar {
  display: none;
}
