.resource-header {
  display: flex;
  margin: 10px 20px;
}

.resource-header-text {
  width: 224px;
  font-size: 19px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  border-radius: 10px;
  background-color: #f5f5f5;
  cursor: pointer;
}

.loading-content {
  text-align: center;
  margin: 100px auto;
  width: 60;
}

.loading-desc {
  text-align: center;
  color: #fff;
  margin-top: 10px;
  font-size: 19px;
}

.resource-header-text:hover {
  background-color: #e3e3e3;
}

.resource-header .active {
  background-color: #e3e3e3;
}

.game-info-resource .divider {
  height: 30px;
  width: 1px;
  background-color: #e3e3e3;
  margin: 5px 10px;
}

.resource-list {
  margin: 10px 24px 20px 24px;
  height: 720px;
}

.empty-content {
  display: inline-block;
  margin: 180px 420px;
  font-size: 19px;
  width: 200px;
}

.empty-content .anticon-frown {
  margin-right: 8px;
}

.resource-pagination {
  margin: 0 0 25px 0;
  display: inline-block;
}

.resource-pagination-container {
  text-align: center;
}

.resource-pagination-container .ant-pagination-item-active {
  border-color: #f5f5f5;
}
