.resource-card {
  height: 140px;
  border-bottom: 1px solid #f5f5f5;
}

.resource-card-content {
  height: 140px;
  display: flex;
}

.resource-card-content .resource-img-wrapper {
  margin-top: 10px;
  height: 120px;
  width: 120px;
  background-color: burlywood;
}

.resource-info-wrapper {
  margin: 10px 0 10px 20px;
}

.resource-name .info {
  font-size: 16px;
  cursor: pointer;
}

.resource-name .info:hover {
  color: #c82848;
}

.resource-time {
  color: #a9a9a9;
  display: flex;
}

.resource-time .release-time {
  width: 160px;
}

.resource-content {
  margin-top: 5px;
  font-size: 15px;
}
