.ant-btn-primary {
  background-color: rgb(11, 62, 91) !important;
  border-color: rgb(11, 62, 91) !important;
}

.ant-tag-checkable-checked {
  background-color: rgb(11, 62, 91) !important;
  border-color: white !important;
  border-radius: 10px !important;
}

.ant-spin {
  color: white !important;
}

.ant-spin-dot-item {
  background-color: white !important;
}

.ant-pagination-item-active a {
  color: #1890ff !important;
}

.ant-pagination-item a {
  color: white !important;
}

.ant-pagination-item-active {
  font-weight: 500;
  border-color: #1890ff;
}

.ant-pagination-item {
  font-weight: 500;
  background: transparent !important;
  border-color: white;
}

.ant-pagination-prev .ant-pagination-item-link {
  background: transparent !important;
}

.ant-pagination-next .ant-pagination-item-link {
  background: transparent !important;
}

.anticon-left {
  color: white !important;
}

.anticon-right {
  color: white !important;
}

.ant-pagination-jump-next
  .ant-pagination-item-container
  .ant-pagination-item-ellipsis {
  color: white !important;
}

.ant-pagination-jump-next
  .ant-pagination-item-container
  .ant-pagination-item-link-icon {
  color: white !important;
}

.ant-pagination-jump-prev
  .ant-pagination-item-container
  .ant-pagination-item-ellipsis {
  color: white !important;
}

.ant-pagination-jump-prev
  .ant-pagination-item-container
  .ant-pagination-item-link-icon {
  color: white !important;
}

.ant-pagination-options-quick-jumper {
  color: white !important;
}

.ant-pagination-options-quick-jumper input {
  background-color: transparent !important;
  color: white !important;
}

.ant-result-info .ant-result-icon > .anticon {
  color: rgb(11, 62, 91) !important;
}
